<h1> My tasks</h1>
<br>
<% @tasks.each do |task| %>
  <% if task.completed %>
      <i class="far fa-check-square"></i>
      <%= link_to task.title, task_path(task.id) %>
    <% else %>
      <i class="far fa-square"></i>
      <%= link_to task.title, task_path(task.id) %>
    <% end %>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <br>
<% end %>
