<h1 class="p-3"> <%=  @task.title  %></h1>
<div class="p-3">
<p> <%= @task.details %></p>

  <% if @task.completed %>
      <i class="far fa-check-square"></i>
      This task is completed
    <% else %>
      <i class="far fa-square"></i>
      This task is not completed
    <% end %>
<br>
<%= link_to "Edit this task", edit_task_path  %>
<hr>
<%= link_to "Back to list", tasks_path %>
</div>
